.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.CockPit button {
  background-color: green;
  color: white;
  font: inherit;
  border: 1px solid blue;
  padding: 8px;
}
.CockPit button:hover {
  background-color: lightgreen;
  color: white;
}

.CockPit button.Red {
  background-color: red;
}

.CockPit button.Red:hover {
  background-color: salmon;
}
